.left {
    padding: 10vw;
    padding-bottom: 0px;
}

.left h1 {
    font-size: 3rem;
}

.left h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0008;
}

.left p {
    font-size: 1.5rem;
    width: 70vw;
    padding-right: 10vw;
}



.right {
    padding: 10vw;
    padding-bottom: 0px;
    text-align: right;
}

.right h1 {
    font-size: 3rem;
}

.right h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0008;
}

.right p {
    font-size: 1.5rem;
    width: 70vw;
    padding-left: 10vw;
}



button {
    background-color: #0000;
    border: none;
    box-shadow: inset 0px 0px 0px 1px #000b;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #0001;
    box-shadow: inset 0px 0px 0px 1px #000;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(-1px) !important;
}