#landing {
    position: relative;
    width: 100%;
    height: 100vh;
}

#leftSection {
    width: 300px;
    height: 110vh;

    background: linear-gradient(to bottom,  #8af 90%, #fff 100%);
    color: #fff;
}

#leftSection h2 {
    padding-left: 35px;
}

#leftSection p {
    padding-left: 35px;
    padding-bottom: 20px;
}

#leftSection a {
    color: #fffa;
}

#leftSection a:hover {
    color: #fff;
}

.imgHolder {
    width: 240px;
    height: 240px;
    margin: 30px;
    margin-top: 10vh;
    position: absolute;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: #000a 0px 10px 50px;
}

.imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(170%);
    transition: 1s;
}

.imgHolder img:hover {
    transform: scale(200%);
}



#rightSection {
    width: calc(100% - 300px);
    height: 110vh;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    font-size: calc(0.30vh + 0.70vw);
    
    /*background: linear-gradient(to bottom, #fff0 89%,  #8af 90%, #fff 100%);*/
}

#backgroundImage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;

    background: url('../IMG/palmtree.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin: 60px 20px;
    padding: 10px;
    height: fit-content;

    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #222244;
    color: #222244;
    list-style-position: inside;
}

.card h2 {
    text-wrap: nowrap;
    margin-bottom: 1rem;
}

.card p {
    margin-top: 1rem;
}







.left {
    padding: 10vw;
    padding-bottom: 0px;
}

.left h1 {
    font-size: 3rem;

    transition: 0.5s;
}

.left h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0008;
}

.left p {
    font-size: 1.5rem;
    width: 70vw;
    padding-right: 10vw;
}



.right {
    padding: 10vw;
    padding-bottom: 0px;
    text-align: right;
}

.right h1 {
    font-size: 3rem;

    transition: 0.5s;
}

.right h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0008;
}

.right p {
    font-size: 1.5rem;
    width: 70vw;
    padding-left: 10vw;
}



button {
    background-color: #0000;
    border: none;
    box-shadow: inset 0px 0px 0px 1px #000b;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #0001;
    box-shadow: inset 0px 0px 0px 1px #000;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(-1px) !important;
}



/* ANIMATIONS */

@keyframes loading {
    0% {
        opacity: 0%;
        transform: translateY(50px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}