#body {
    opacity: 0%;
    transition: 0.5s;
    overflow-x: hidden;
}

.backgroundDevin {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background: url(../IMG/IMG_0181.jpg);
    background-position: top 40% center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: scale(105%);
    transition: 0.75s;
}



/* LEFT SIDE OF THE LANDING PAGE */

.landing {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.landing h1 {
    padding-left: 9.5vw;
    text-align: left;
    margin-top: 15vh;

    color: #fff;
    font-size: calc(0.5em + 5vw);
    text-shadow: #000 5px 5px 30px;
    font-weight: 100;
    font-family: "Caveat", cursive;
}

.landing h2 {
    padding-left: 10vw;
    padding-top: 5vh;
    text-align: left;

    color: #fff;
    text-shadow: #000 2px 2px 18px;
    font-weight: 400;
    font-size: calc(0.75em + 0.6vw);
}

.landing ul {
    padding-left: 10vw;
}

.landing ul li {
    float: left;
    list-style-type: none;
    padding-right: 10px;

    color: #fff;
    text-shadow: #000 1px 1px 10px;
    font-size: calc(0.5em + 0.6vw);
}



/* RIGHT SIDE OF THE LANDING PAGE */

#infoCard {
    position: absolute;
    top: 20vh;
    right: 10vw;
    height: 55vh;
    width: calc(10vh + 15vw);

    background: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    box-shadow: #0008 5px 5px 50px;
    overflow-y: scroll;

    opacity: 0%;
    transition: 0.75s;
    transform: translateY(50px);
}

#infoCard::-webkit-scrollbar {
    width: 10px;
}

#infoCard::-webkit-scrollbar-thumb {
    background-color: #1138;
    border-radius: 5px;
}

#infoCard::-webkit-scrollbar-button {
    background-color: #fff0;
    height: 5px;
}

#infoCard h1 {
    font-size: calc(2rem + 2vw);
    padding: 0px;
    margin: 0px;

    color: #113;
    text-shadow: none;
    font-weight: 900;
    text-align: center;
}

#infoCard p {
    padding: 2vh;
    padding-top: 5vh;
    text-align: justify;
    text-align-last: left;

    font-size: calc(0.5em + 0.6vw);
    color: #113;
}

unique {
    font-family: "Caveat", cursive;
}

.infoCardDetail1 {
    position: absolute;
    top: calc(75vh + 10px);
    right: 10vw;
    height: 15px;
    width: calc((10vh + 15vw) / 2);

    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    box-shadow: #0008 5px 5px 50px;

    opacity: 0%;
    transform: translateY(25px);
    transition: 0.75s;
}

.infoCardDetail2 {
    position: absolute;
    top: calc(75vh + 35px);
    right: 10vw;
    height: 15px;
    width: 30px;

    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    box-shadow: #0008 5px 5px 50px;

    opacity: 0%;
    transform: translateY(25px);
    transition: 0.65s;
}

.content {
    width: 100%;
    min-height: 100vh;
    transform: translateY(100vh);
    z-index: 1;

    background-color: #fff;
    box-shadow: #0008 0px 0px 50vh 10vh;
}

#animate1 {
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.75s;
}

#animate2 {
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.75s;
}

#animate3 {
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.75s;
}