/* MANDATORY THINGS LOL */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kirang+Haerang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'Socialico';
    src: url('../FONTS/TTF/Socialico-Regular.ttf');
}
@font-face {
    font-family: 'SocialicoPlus';
    src: url('../FONTS/TTF/SocialicoPlus-Plus.ttf');
}


html,
* {
    padding: 0px;
    margin: 0px;

    font-family: "Nunito", sans-serif;
}

#body {
    opacity: 0%;
    transition: 0.5s;
    overflow-x: hidden;
}

/* HEADER RELATED */

header {
    position: fixed;
    width: 100%;
    z-index: 100;

    background: linear-gradient(to bottom, #0005, #fff0);

    transform: translateY(-200%);
    transition: 1s;
}

header p:hover {
    transform: translateY(-0.1em);
}

.socials {
    margin-left: 50px;
    float: left;
}

.socials li {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.4em;
    float: left;

    list-style-type: none;
    font-family: SocialicoPlus;
    font-size: 2.5em;
    cursor: pointer;
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    font-weight: 300;

    transition: 200ms;
}

.socials li:hover {
    transform: translateY(-0.1em);
}


.navbar {
    margin-right: 50px;
    float: right;
}

.navbar li {
    padding: 0.5em;
    float: left;


    list-style-type: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    font-weight: 300;

    transition: 200ms;
}

.navbar li:hover {
    transform: translateY(-0.1em);
}

.currentPage {
    font-weight: 800 !important;
}



/* EVERYTHING FOOTER RELATED */

footer {
    width: 100%;
    z-index: 1000;
    padding-top: 5vh;
    padding-bottom: 5vh;

    background: linear-gradient(to top, #ddd, #fff);
}

footer ul {
    display: inline-block;
    width: calc((100% / 3) - 11%);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

    color: #2248;
}

footer ul li {
    display: block;
    position: relative;

    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    font-weight: 900;
    color: #224f !important;
}

footer ul p {
    display: block;
    position: relative;
}

footer ul a {
    display: block;
    position: relative;

    color: #2248;
}

footer ul a:hover {
    color: #224c;
}



/* MOBILE MODE */

#burgerMenu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: calc(4vh + 2vw);
    height: calc(4vh + 2vw);

    cursor: pointer;
}

#burgerMenu div {
    width: calc((4vh + 2vw) * 2);
    height: calc((4vh + 2vw) / 3);

    background-color: #fff;
    border-radius: 20px;
    transform: scale(50%) translateX(-50%);
    box-shadow: #224 0px 0px 30px;

    transition: 0.25s;
}