@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kirang+Haerang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'Socialico';
    src: url('../FONTS/TTF/Socialico-Regular.ttf');
}
@font-face {
    font-family: 'SocialicoPlus';
    src: url('../FONTS/TTF/SocialicoPlus-Plus.ttf');
}


html,
* {
    padding: 0px;
    margin: 0px;

    font-family: "Nunito", sans-serif;
}

#body {
    opacity: 0%;
    transition: 0.5s;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;

    background: linear-gradient(to bottom, #0005, #fff0);

    transform: translateY(-200%);
    transition: 1s;
}

header p:hover {
    transform: translateY(-0.1em);
}

.socials {
    margin-left: 50px;
    float: left;
}

.socials li {
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.4em;
    float: left;

    list-style-type: none;
    font-family: SocialicoPlus;
    font-size: 2.5em;
    cursor: pointer;
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    font-weight: 300;

    transition: 200ms;
}

.socials li:hover {
    transform: translateY(-0.1em);
}


.navbar {
    margin-right: 50px;
    float: right;
}

.navbar li {
    padding: 0.5em;
    float: left;


    list-style-type: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    text-shadow: #000 0px 0px 20px;
    font-weight: 300;

    transition: 200ms;
}

.navbar li:hover {
    transform: translateY(-0.1em);
}

.currentPage {
    font-weight: 800 !important;
}