#content {
    padding: 7.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content h1 {
    text-align: left;
    font-family: "Caveat", cursive;
    font-size: 4vw;
    text-align: center;
}

#content div {
    height: 50vh;
    width: calc(25% - 40px);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 5px 5px 30px #2248;
    border-radius: 10px;
}

#content div img {
    border-radius: 10px;
}

#content div p {
    text-align: justify;
    flex: 3em;
}

#content div button {
    background-color: #0000;
    border: none;
    font-size: 2vw;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 1px #2248;
    cursor: pointer;
    font-family: "Caveat", cursive;

    transition: all 0.2s;
}

.downloadHref {
    background-color: #0000;
    border: none;
    font-size: 2vw;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 1px #2248;
    cursor: pointer;
    font-family: "Caveat", cursive;
    text-align: center;
    text-decoration: none;
    color: black;

    transition: all 0.2s;
}

#content div button:hover,
#content div a:hover{
    transform: scale(1.05);
}